@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 16px */
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.title-line {
  height: 2px;
  width: 5rem;
  background: #333;
  margin: 1.5rem auto 2.5rem;
}

